# Required fields
modelName                               reuters
pathToModelFile                         #MODELS_PATH#models/reuters
pathsToBrownClusters                    #RESOURCES_PATH#brown-clusters/brown-english-wikitext.case-intact.txt-c1000-freq10-v3.txt    #RESOURCES_PATH#brown-clusters/brownBllipClusters    #RESOURCES_PATH#brown-clusters/brown-rcv1.clean.tokenized-CoNLL03.txt-c1000-freq1.txt
pathToTokenNormalizationData            #RESOURCES_PATH#brown-clusters/brown-english-wikitext.case-intact.txt-c1000-freq10-v3.txt
pathToGazetteersLists                   #RESOURCES_PATH#gazetteers

# Optional fields
labelTypes                              PER ORG LOC MISC

# noise level
randomNoiseLevel                        0.0
omissionRate                            0.0

# parameter sweep reveals these to be the best params, L2 model is best.
learningRatePredictionsLevel1           .05
thicknessPredictionsLevel1              30
learningRatePredictionsLevel2           .05
thicknessPredictionsLevel2              30

