# {L2LossSSVM, StructuredPerceptron}
LEARNING_MODEL = L2LossSSVM

#  {DCDSolver, ParallelDCDSolver, DEMIParallelDCDSolver};
L2_LOSS_SSVM_SOLVER_TYPE = ParallelDCDSolver

NUMBER_OF_THREADS = 16
C_FOR_STRUCTURE = 1.0
TRAINMINI = false
TRAINMINI_SIZE = 1000
STOP_CONDITION = 0.1
CHECK_INFERENCE_OPT = true
MAX_NUM_ITER = 250
PROGRESS_REPORT_ITER = 10
INNER_STOP_CONDITION = 0.1
MAX_ITER_INNER = 250
MAX_ITER_INNER_FINAL = 2500
TOTAL_NUMBER_FEATURE = -1
CLEAN_CACHE = true
CLEAN_CACHE_ITER = 5
DEMIDCD_NUMBER_OF_UPDATES_BEFORE_UPDATE_BUFFER = 100
DEMIDCD_NUMBER_OF_INF_PARSE_BEFORE_UPDATE_WV = 10
LEARNING_RATE = 0.01
DECAY_LEARNING_RATE = false
